<div class="container">
    <form (ngSubmit)="submitForm(form)" #form="ngForm">
        <div class="form-group">
            <label>Name</label>
            <input 
            type="text" 
            class="form-control"
            ngModel
            name="name"
            #name="ngModel"
            >
        </div>
        <div class="form-group">
            <label>Surname</label>
            <input 
            type="text" 
            class="form-control"
            ngModel
            name="surname"
            #surname="ngModel"
            required
            >
        </div>
        <div class="form-group">
            <label>Group</label>
            <input 
            type="text" 
            class="form-control"
            ngModel
            name="group"
            required
            #group="ngModel"
            >
        </div>
        <div class="form-group">
            <label>Choose subject</label>
            <select 
            class="form-control"
            [ngModel]="defaultSubject"
            name="subject"
            required
            >
                <option *ngFor="let subject of subjects" [value]="subject.type">{{subject.text}}</option>
            </select>
        </div>
        <div class="radio" *ngFor="let gender of genders">
            <label>
                <input type="radio"
                [value]="gender.type"
                [ngModel]="defaultGender"
                name="gender"
                >
                {{gender.text}}
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" ngModel type="checkbox" id="defaultCheck1" name="agree" required>
            <label class="form-check-label" for="defaultCheck1">
                Agree with use conditions
            </label>
        </div>
        <button class="btn btn-success" type="submit" [disabled]="!form.valid">Submit</button>
    </form>
</div>


@if(isSubmited){
    <div>
        <pre>{{formData | json}}</pre>
    </div>
}